# Gradle
.gradle/
build/
!app/srv/

# Local properties
local.properties

# IDE files
.idea/
*.iml
*.ipr
*.iws

# OS files
.DS_Store
Thumbs.db

# Log files
*.log

# Android Studio
captures/
.externalNativeBuild/
.cxx/

# Keystore files
*.jks

# Misc
*.swp
*.swo

# Do NOT ignore openapi or srv folders
!**/openapi/
!app/srv/

